<div class="col-12 col-md-6 col-lg-4">
  <div class="about-image">
    <img src="<%= image_path 'profile_picture.png' %>" alt="#" class="avatar-square">
    <div class="about-links">
      <%= link_to 'Contact', contact_path, class: 'btn btn-primary' %>
      <%= link_to 'Resume', contact_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<div class="col-12 col-md-6 col-lg-8">
  <div class="about-info">
    <h1>Cesar Ades</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi est cum ex voluptatibus numquam rem, deleniti beatae ea asperiores natus iure doloremque, a mollitia ipsa veniam laboriosam optio necessitatibus modi! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut natus ea pariatur fugit dolorum? Dicta blanditiis quas iure vel animi at reiciendis! Ea dignissimos mollitia odio aperiam asperiores, magnam natus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, at, voluptatem ab quae iure quaerat nisi aut quibusdam velit sit delectus numquam molestias esse corporis debitis cupiditate perspiciatis nostrum perferendis.
    </p>
  </div>
</div>
